<p>playlists-view works!</p>
<div class="row">
  <div class="col-6">
    <app-playlists-list [playlists]="playlists" [selected]="selected" (selectedChange) ="selected = $event "></app-playlists-list>
  </div>
  <div class="col" *ngIf="mode === 'details' && selected">
    <app-playlist-details [selected]="selected"></app-playlist-details>
    <button class="btn btn-info" (click)="edit()">Edit</button>
  </div>
  <div class="col" *ngIf="mode === 'edit' && selected">
    <app-playlist-editor [selected]="selected"></app-playlist-editor>
    <button class="btn btn-info" (click)="cancel()">Cancel</button>
  </div>
</div>
