<div class="list-group">

<div class="list-group-item" *ngFor="let playlist of playlists; index as i" [class.active]="selected?.id === playlist.id" (click)="select(playlist)">
{{i+1}}. {{playlist.name}}
</div>

</div>
