<div class="form-group mb-3">
    <label>Name:</label>
    <input type="text" class="form-control" [(ngModel)]="selected!.name">
  </div>
  
  <div class="form-group mb-3">
    <label><input type="checkbox" [checked]="selected!.public">Public</label>
  </div>
  
  <div class="form-group mb-3">
    <label>Description:</label>
    <textarea class="form-control" [value]="selected!.description"></textarea>
  </div>