<dl>
  <dt>Name:</dt>
  <dd>{{ selected?.name }}</dd>

  <dt>Public:</dt>
  <dd
    [class.text-success]="selected?.public"
    [class.text-danger]="!selected?.public"
  >
    {{ selected?.public ? "Yes" : "No" }}
  </dd>

  <dt>Desciption:</dt>
  <dd>{{ selected?.description }}</dd>
</dl>
